a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: white;
  width: 100%;
  height: 10vh;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
}

.main_links img {
  width: 4em;
}

.external_links {
  width: 4em;
  height: 1em;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.external_links img {
  width: 0.8em;
}

.underlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.underlinks div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
